<div>  
    <section class="py-5">
        <div class="container">
            <div class="container">
                <div class="row text-center">
                  
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                      <img src="../../assets/p3.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title mb-0">Men</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>
    
    
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            Footer here
        </div>
    </footer>


</div>