<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Designer Stop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item">
            <a class="nav-link" style="color: plum;" href="/home">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" style="color: plum;" href="/men">Men</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: plum;" href="/women">Women</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: plum;" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: plum;" href="#">Sign Up/Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: plum;" href="#">
              <fa-icon [icon]="shoppingCartIcon"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <header class="masthead d-flex" style="background-image: url('../../assets/p8.jpg');">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Designer Stop</h1>
      <h3 class="mb-5">
        <em>We make your styles come true</em>
      </h3>
      <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a> -->
    </div>
    <div class="overlay"></div>
  </header>
  
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <br>
        <h2 class="mb-5">Shop our latest collections! </h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="/women">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">Style for Women</div>
              </div>
            </div>
            <img class="img-fluid" src="../assets/p1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
           <a class="portfolio-item" href="/men">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">Style for Men</div>
              </div>
            </div>
            <img class="img-fluid" src="../assets/p9.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>
  
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center"> 
        <br>
        <h2 class="mb-5" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Know how to measure</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2" style="color: seashell;">Women</div>
              </div>
            </div>
            <img class="img-fluid" src="../assets/p1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2" style="color: white;">Men</div>
              </div>
            </div>
            <img class="img-fluid" src="../assets/p9.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container">
      <div class="content-section-heading text-center"> 
        <br>
        <h2 class="mb-5" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Latest news in Fashion</h2>
      </div>
    
      <div class="row no-gutters" style="text-align: center; size: inherit;">
        <div class="col-lg" style="text-align: center;">
          <a class="portfolio-item" href="https://www.vogue.com/slideshow/stylish-face-masks-to-shop-now">
            <div class="caption">
              <div class="caption-content">
                <div class="h2" style="color: white;">
                  <p>
                    "New fashion for the new Normal" <br>
                    The COVID-19 pandemic has brought a new change in the normal life. Wearing masks are part of the life and it 
                    has become a new fashion label.
                  </p>
                </div>
              </div>
            </div>
            <img class="img-fluid" src="../assets/p15.jpg" alt="">
          </a>
        </div>
      </div>
  
    </div>
  </section>
  <br>
  <footer class="footer text-center">
    <div class="container">
      <br>
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/">
            <fa-icon [icon]="facebookIcon"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.instagram.com/">
            <fa-icon [icon]="instagramIcon"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://www.whatsapp.com/">
            <fa-icon [icon]="whatsappIcon"></fa-icon>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2020</p>
    </div>
  </footer>
  
  
  <div>
    <router-outlet></router-outlet>
  </div>
  